<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.office.dao.AdministratorsMapper" >
  <resultMap id="BaseResultMap" type="com.office.pojo.Administrators" >
    <id column="ANo" property="ano" jdbcType="INTEGER" />
    <result column="GLNo" property="glno" jdbcType="INTEGER" />
    <result column="AName" property="aname" jdbcType="CHAR" />
    <result column="ASex" property="asex" jdbcType="VARCHAR" />
    <result column="ATel" property="atel" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ANo, GLNo, AName, ASex, ATel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.office.pojo.AdministratorsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from administrators
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from administrators
    where ANo = #{ano,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from administrators
    where ANo = #{ano,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.office.pojo.AdministratorsExample" >
    delete from administrators
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.office.pojo.Administrators" >
    insert into administrators (ANo, GLNo, AName, 
      ASex, ATel)
    values (#{ano,jdbcType=INTEGER}, #{glno,jdbcType=INTEGER}, #{aname,jdbcType=CHAR}, 
      #{asex,jdbcType=VARCHAR}, #{atel,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.office.pojo.Administrators" >
    insert into administrators
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ano != null" >
        ANo,
      </if>
      <if test="glno != null" >
        GLNo,
      </if>
      <if test="aname != null" >
        AName,
      </if>
      <if test="asex != null" >
        ASex,
      </if>
      <if test="atel != null" >
        ATel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ano != null" >
        #{ano,jdbcType=INTEGER},
      </if>
      <if test="glno != null" >
        #{glno,jdbcType=INTEGER},
      </if>
      <if test="aname != null" >
        #{aname,jdbcType=CHAR},
      </if>
      <if test="asex != null" >
        #{asex,jdbcType=VARCHAR},
      </if>
      <if test="atel != null" >
        #{atel,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.office.pojo.AdministratorsExample" resultType="java.lang.Integer" >
    select count(*) from administrators
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update administrators
    <set >
      <if test="record.ano != null" >
        ANo = #{record.ano,jdbcType=INTEGER},
      </if>
      <if test="record.glno != null" >
        GLNo = #{record.glno,jdbcType=INTEGER},
      </if>
      <if test="record.aname != null" >
        AName = #{record.aname,jdbcType=CHAR},
      </if>
      <if test="record.asex != null" >
        ASex = #{record.asex,jdbcType=VARCHAR},
      </if>
      <if test="record.atel != null" >
        ATel = #{record.atel,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update administrators
    set ANo = #{record.ano,jdbcType=INTEGER},
      GLNo = #{record.glno,jdbcType=INTEGER},
      AName = #{record.aname,jdbcType=CHAR},
      ASex = #{record.asex,jdbcType=VARCHAR},
      ATel = #{record.atel,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.office.pojo.Administrators" >
    update administrators
    <set >
      <if test="glno != null" >
        GLNo = #{glno,jdbcType=INTEGER},
      </if>
      <if test="aname != null" >
        AName = #{aname,jdbcType=CHAR},
      </if>
      <if test="asex != null" >
        ASex = #{asex,jdbcType=VARCHAR},
      </if>
      <if test="atel != null" >
        ATel = #{atel,jdbcType=CHAR},
      </if>
    </set>
    where ANo = #{ano,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.office.pojo.Administrators" >
    update administrators
    set GLNo = #{glno,jdbcType=INTEGER},
      AName = #{aname,jdbcType=CHAR},
      ASex = #{asex,jdbcType=VARCHAR},
      ATel = #{atel,jdbcType=CHAR}
    where ANo = #{ano,jdbcType=INTEGER}
  </update>
</mapper>